
.container{
	width:500px;
	height: 500px;
	border: 5px black ridge;
	margin: 0 auto;

}

.hide{
display: none;

}

.show{
	display: block;
}

.empty{
	height: 80px; 
	width: 80px;
	background-color: green;
	float: right;
	margin: 10px
}

.full{
	height: 80px; 
	width: 80px;
	margin:10px;
	float: right;
	background-color: red;
}